__pycache__/

ontology/cl.owl
ontology/hancestro.owl
ontology/pride_cv_updated.obo
ontology/psi-ms.obo
ontology/pride_cv.obo
ontology/ms.owl
ontology/efo.json
ontology/ncbitaxon.obo
ontology/ncbitaxon.owl

# pyinstaller artifacts
build/
dist/
# virtual environment
lessdrf-desktop/

# Mac OS
.DS_Store

/node_modules

